
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Bổ sung Css cho navbar */

.navbar__link9 {
    color: #50aacb;
    font-size: 0.9rem;
    text-decoration: none;
}

/* Css Containers */

.containers {
    width: 100%;
}

.containers__big {
    margin: 6.6% 194.6px 0px 194.6px;
    padding: 0px 15px;
    width: 1130px;
    height: 2150px;
}

.containers__title__big {
    margin: 23px 0px 0px 0px;
}

.containers__title {
    display: flex;
}

.content__title {
    color: #50aacb;
    font-family: "Merriweather";
    font-size: 2.2rem;
    font-weight: 550;
    margin-right: 517px;
    text-decoration: none;
}

.navbar__content {
    color: #757575;
    height: 23px;
    font-family: Arial;
    font-size: 0.9rem;
    padding-right: 20px;
    border-right: 0.1rem solid #aaa;
    margin-top: 14px;
    margin-right: 15px;  
    text-decoration: none;
}

.navbar__content:hover {
    color: #087cce;
}

.icon__calendar {
    padding-right: 10px;
}

.navbar__content-search {
    background-color: #fff;
    width: 300px;
    height: 33px;
    padding: 0px 10px;
    border-radius: 15px;
    margin-top: 6px;
    cursor: pointer;
    border: 0.5px solid #aaa;
}

.navbar__content__icon-search {
    display: flex;
}

.navbar__input-search {
    width: 100%;
    height: 100%;
    font-family: Arial;
    font-size: 0.9rem;
    border: none;
    outline: none;
    padding: 0 6px;
}

.navbar__icon-search {
    color: #aaa;
    font-size: 1rem;
    padding-top: 2px;
}

.containers__title-small {
    width: 1100px;
    height: 28px;
    margin-top: 20px;
    border-bottom: 0.01rem solid #aaa;
}

.content__small {
    color: #333;
    font-family: Arial;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0 20px 0 0;
    text-decoration: none;
}

.content__small:hover {
    color: #50aacb;
}

.containers__conten__image-big {
    display: flex;
}

.containers__image-content {
    background-color: #f7f7f7;
    width: 780px;
    height: 308px;
    margin-top: 15px;
    display: flex;
}

.containers__content {
    margin-top: 20px;
}

.containers__title__one-small {
    color: #333;
    font-family: "Merriweather",serif;
    font-size: 1.4rem;
    font-weight: 550;
    text-decoration: none;
}

.containers__title__one-small:hover {
    color: #50aacb;
}

.containers__content__one-small {
    font-family: Arial;
    font-size: 0.9rem;
    margin-top: 18px;
    cursor: pointer;
}

.containers__content__two-small {
    margin-top: 18px;
    font-family: Arial;
    font-size: 0.9rem;
    padding: 0 px 0 0;
    display: flex;
}

.content__smallsmall,
.content__smallsmall-one {
    margin-right: 10px;
}

.content__smallsmall-one:hover {
    color: #50aacb;
    cursor: pointer;
}

.icon__coment-pageTS {
    color: #aaa;
    font-size: 0.9rem;
    margin-right: 5px;
    cursor: pointer;
}

.icon__coment-pageTS:hover {
    color: #757575;
}

.content__smallsmall-two {
    color: #44a1e3;
    font-size: 0.9rem;
}

.container__image-advertisement {
    padding: 15px 0px 0px 16px;
    cursor: pointer;
}

.containers__title-small-one {
    width: 780px;
    height: 300px;
    margin-top: 25px;
    border-top: 0.01rem solid #aaa;
    border-bottom: 0.01rem solid #aaa;
    display: flex;
}

.title-small-one {
    width: 230px;
    margin-right: 27px;
    margin-top: 10px;
}

.content__of-title-one,
.content__of-title-two,
.content__of-title-three {
    text-decoration: none;
    font-family: "Merriweather",serif;
    font-size: 1.05rem;
    font-weight: 700;
    color: #333;
}

.content__of-title-one:hover {
    color: #50aacb;
}
.content__of-title-two:hover {
    color: #50aacb;
}
.content__of-title-three:hover {
    color: #50aacb;
}

.title-small-two {
    width: 250px;
    margin-top: 10px;
}

.title-small-three {
    width: 250px;
    margin-top: 10px;
    margin-left: 28px;
}

.content__small__of-title-one,
.content__small__of-title-two,
.content__small__of-title-three {
    margin-top: 15px;
    font-family: Arial;
    font-size: 0.9rem;
    cursor: pointer;
}

.containers__theme {
    height: 35px;
    border-bottom: 0.01rem solid #aaa;
    margin: 15px 0px 0px 0px;
    display: flex;
}

.containers__theme__title-small {
    color: #757575;
    font-family: Arial;
    font-size: 1rem;
    margin-right: 30px;
}

.containers__theme__content-one {
    color: #9f224e;
    font-family: Arial;
    font-size: 0.9rem;
    margin-right: 50px;
}

.containers__theme__content-one:hover {
    color: #50aacb;
}

.containers__small-folder {
    width: 1100px;
    margin-top: 30px;
    display: flex;
}

.folder__small-one {
    width: 215px;
    height: 200px;
    border-right: 0.01rem solid #aaa;
    text-decoration: none;
}

.folder__small-two {
    width: 215px;
    height: 200px;
    border-right: 0.01rem solid #aaa;
    margin-left: 10px;
}

.folder__small-three {
    width: 215px;
    height: 200px;
    border-right: 0.01rem solid #aaa;
    margin-left: 10px;
}

.folder__small-four {
    width: 215px;
    height: 200px;
    border-right: 0.01rem solid #aaa;
    margin-left: 10px;
}

.content__small-folder {
    color: #333;
    font-weight: 550;
    margin-top: 15px;
    text-decoration: none;
}

.content__small-folder:hover {
    color: #50aacb;
    cursor: pointer;
}

.link__one,
.link__two,
.link__three,
.link__four, 
.link__five {
    text-decoration: none;
}

.containers___content__between {
    width: 1086px;
    height: 520px;
    margin: 30px 0px 0px 0px;
    border-top: 0.01rem solid #aaa;
    border-bottom: 0.01rem solid #aaa;
}

.content__between-big {
    width: 710px;
    border-right: 1px solid #aaa;
    margin-top: 20px;

}

.content__between-one,
.content__between-two,
.content__between-three {
    width: 1100px;
    display: flex;
}

.content__betweeen-small-one,
.content__betweeen-small-two,
.content__betweeen-small-three {
    width: 430px;
    margin-right: 30px;
    margin-top: 15px;
}

.content__between-title-one,
.content__between-title-two,
.content__between-title-three {
    width: 430px;
    color: #333;
    font-size: 1.4rem;
    font-weight: 550;
    text-decoration: none;
}

.content__between-title-one:hover {
    color: #50aacb;
}

.content__between-title-two:hover {
    color: #50aacb;
}

.content__between-title-three:hover {
    color: #50aacb;
}

.content__of-title {
    margin-top: 15px;
    font-family: Arial;
    font-size: 0.9rem;
    cursor: pointer;
}

.content__between-image-one {
    margin-top: 10px;
    cursor: pointer;
}

.content__between-image-two,
.content__between-image-three {
    margin-top: 22px;
    cursor: pointer;
}

.content__image__advertisement {
    width: 300px;
    height: 136;
    margin-left: 60px;
    margin-top: 10px;
}

.advertisement-one,
.advertisement-two {
    border-radius: 3px;
    margin-bottom: 15px;
}

.advertisement-two {
    margin-bottom: 0;
}

.content__between__content-small {
    width: 300px;
    height: 136px;
    margin-left: 60px;
    margin-top: 20px;
}

.content-small {
    width: 270px;
    height: 63px;
    background-color: #e0e0e0;
    font-family: Arial;
    font-size: 1rem;
    font-weight: 550;
    padding-top: 23px;
    padding-left: 20px;
    border-radius: 3px;
}

.content-small-one {
    width: 270px;
    height: 50px;
    background-color: #e0e0e0;
    font-family: Arial;
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 3px;
    margin-top: 20px;
}

.content__between__content-small-one {
    width: 300px;
    height: 136px;
    margin-left: 60px;
    margin-top: 10px;
}

.content-small-two,
.content-small-three {
    width: 270px;
    height: 50px;
    background-color: #e0e0e0;
    font-family: Arial;
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 20px;
    border-radius: 3px;
    margin-top: 10px;
}

.content-small-three {
    margin-top: 10px;
}

.link__share__icon {
    width: 40px;
    height: 133px;
    margin: 10px 0px 0px 10px;
}

.circle__facebook,
.circle__twitter,
.circle__arrow-left {
    background-color: #fff;
    margin-right: 20px;
    border: 0.01rem solid #e0e0e0;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    cursor: pointer;
    margin-bottom: 10px;
}

.circle__facebook:hover {
    background-color: #076db6;
}
.circle__twitter:hover {
    background-color: #087cce;
}
.circle__arrow-left:hover {
    background-color: #5595ff;
}
.icon__facebook,
.icon__twitter,
.icon__arrow-left {
    color: #757575;
}

.icon__facebook:hover {
    color: #fff;
}
.icon__twitter:hover {
    color: #fff;
}
.icon__arrow-left:hover {
    color: #fff;
}

.containers__content-expanded {
    width: 1100px;
    height: 520px;
    margin: 20px 0px 0px 0px;
}

.conten-expanded-title {
    width: 40px;
    height: 30px;
    font-size: 1.2rem;
    margin-top: 20px;
    border-bottom: 2px solid #9f224e;
}

.image__of__content-expanded {
    width: 1080px;
    height: 480px;
    background-color: #333;
    margin-top: 15px;
    display: flex;
}

.content-expanded {
    width: 250px;
    margin-left: 25px;
    margin-top: 30px;
}

.content-expanded-one {
    color: #d7d7db;
    font-size: 1.2rem;
    text-decoration: none;
}

.content-expanded-one:hover {
    color: #50aacb;
}

.content__of-expanded-one {
    color: #d7d7db;
    font-family: Arial;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 20px;
}

/* Css Bổ sung cho trang Tin thời sự */

.content--small {
    padding: 5px 0;
}

li.content--small {
    list-style: none;
    margin-left: 75px;
}

/* Responsive */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}
    
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}
    
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}
    
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}
    
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Responsive header */

    .header {
        width: 100%;
    }

    .header__top {
        width: 100%;
        height: 50px;
        padding: 9px 0px 8.5px;
        top: 0;
        position: fixed;
    }

    .header__navbar-one {
        width: 100%;
        height: 34px;
        padding: 0px 30px;
        margin: 0px 0px;
        position: fixed;
    }

    .hidden__card {
        font-size: 20px;
        display: block;
        margin-right: 20px;
    }

    .right {
        margin: 0px 0px 0px 150px;
    }
    
    .header__navbar-two, .navbar-item-small {
        display: none;
    }

    /* Responsive containers */

    .containers {
        width: 100%;
    }

    .containers__big {
        width: 100%;
        height: 2060px;
        margin: 6.6% 0px 0px 0px;
        padding: 0px 10px;
    }

    .containers__title__big {
        width: 100%;
        margin: 10px 0px 0px 0px;
    }

    .content__title {
        margin: 0px 410px 0px 0px;
    }

    .content__small__of-title-one, .content__small__of-title-two, .content__small__of-title-three {
        margin-top: 10px;
    }

    .containers__image-content {
        width: 674px;
        height: 299px;
    }

    .container__image--ten {
        width: 440px;
        height: 264px;
    }

    .containers__content__one-small {
        margin-top: 10px;
    }

    .containers__title-small-one {
        width: 674px;
        height: 300px;
        margin-top: 10px;
    }

    .containers__theme {
        width: 100%;
    }

    .containers__small-folder {
        width: 100%;
    }

    .folder__small-four {
        width: 213px;
        height: 200px;
        border-right: 0.01rem solid #fff;
        margin-left: 10px;
    }

    .container__image-advertisement {
        width: 100%;
        padding: 15px 0px 0px 20px;
    }

    .containers___content__between {
        width: 100%;
    }

    .content__between-big {
        width: 660px;
    }

    .content__image__advertisement, .content__between__content-small, .content__between__content-small-one {
        width: 290px;
        margin: 10px 0px 0px 40px;
    }

    .link__share__icon {
        margin: 10px 0px 0px 0px;
    }

    .content__betweeen-small-one, .content__betweeen-small-two, .content__betweeen-small-three {
        width: 400px;
        margin: 15px 20px 0px 0px;
    }

    .containers__content-expanded {
        width: 100%;
        height: 480px;
    }

    .image__of__content-expanded {
        width: 1000px;
        height: 434px;
    }

    .image-expanded {
        width: 723px;
        height: 434px;
        padding: 0px 0px 0px 0px;
    }

    .content-expanded {
        margin: 20px 0px 0px 20px;
    }

    .content__of-expanded-one {
        margin: 15px 0px 0px 0px;
    }

    .containers__content__two-small {
        margin: 15px 0px 0px 0px;
    }

    .containers-three__pagination {
        margin: 10px 0;
        width: 100%;
    }
    
    .pagination-item {
        margin: 0 6px;
    }
    
    .paginnation-item__link,
    .paginnation-item__link--support {
        --height: 25px;
        display: block;
        text-decoration: none;
        font: 14px Arial;
        color: #757575;
        min-width: 30px;
        height: var(--height);
        line-height: var(--height);
        text-align: center;
        border-radius: 2px;
    }
    
    /* Responsive footer */

    .footer {
        width: 100%;
        height: 305px;
        padding: 0px 10px;
    }

    .footer__menu-one {
        width: 100%;
        height: 130px;
        padding: 0px 0px;
        margin: 10px 0px 0px 0px;
    }

    .footer__menu-content {
        width: 145px;
        height: 120px;
        margin: 0px 0px 0px;
    }

    .footer__menu-content--one {
        margin: 0px 0px 0px;
    }

    .logo__change {
        margin: 0px 0px;
    }

    .content__list-icon {
        margin-top: 0px;
    }

    .footer__content-list-final {
        padding: 4.5px 0px;
    }

    .footer__menu-two {
        width: 100%;
        height: 53px;
        padding: 0px 0px;
    }

    .navbar__logo-small-two {
        margin-left: 0px;
    }

    .menu-content-two {
        margin-left: 660px;
    }

    .footer__menu-three {
        display: none;
    }
    
}
    
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        /* Responsive header */

        .header__top {
            width: 100%;
            height: 50px;
            padding: 9px 0px 8.5px;
            top: 0;
            position: fixed;
            margin: 11px 0px;
        }
    
        .header__navbar-one {
            width: 100%;
            height: 34px;
            padding: 0px 30px;
            margin: 0px 0px;
            position: fixed;
        }
    
        .hidden__card {
            font-size: 20px;
            display: block;
            margin-right: 30px;
        }
    
        .right {
            margin: 0px 0px 0px 210px;
        }
        
        .header__navbar-two, .navbar-item-small, .item__icon-search  {
            display: none;
        }

        /* Responsive containers */

        .containers {
            width: 100%;
        }
        
        .containers-three__pagination {
            margin: 10px 0;
            width: 100%;
        }

        .pagination-item {
            margin: 0 6px;
        }
        
        .paginnation-item__link {
            --height: 25px;
            display: block;
            text-decoration: none;
            font: 14px Arial;
            color: #757575;
            min-width: 30px;
            height: var(--height);
            line-height: var(--height);
            text-align: center;
            border-radius: 2px;
        }

        /* Responsive footer */
        
}

/**********
/*Moto G4*/

@media only screen and (min-width: 360px) and (max-width: 579px) {
    
    html {
        width: 100%;
    }
    body {
        width: 100%;
    }
    .header {
        width: 360px;
        position: fixed;
    }

    .header__top {
        width: 360px;
        position: fixed;
    }
    .header__navbar-one {
        width: 360px;
        position: fixed;
    }

    .hidden__card {
        display: block;
        padding: 7px 0px;
        font-size: 1.1rem;
    }

    .navbar-item-small,.item__icon-clock,.item__icon-search,.navbar-item-login {
        display: none;
    }

    .header__navbar-one {
        margin: 0px 0px;
    }

    .right {
        margin: 0px 0px;
        width: 100%;
    }

    .item__icon-login {
        margin: 9px 0px;
    }

    .navbar__logo {
        padding: 0px 105px;
    }

    .header__navbar-two {
        display: none;
    }

    /* Reponsive Containers */

    .containers {
        flex-direction: column;
        width: 100%;
    }

    .containers__big {
        margin: 6.6% 0px 0px 0px;
        padding: 0px 0px;
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .containers__title__big {
        width: 100%;
        margin: 30px 0px 0px 0px;
    }

    .content__title {
        width: 100%;
        margin: 0px 0px;
        padding: 5px 0px 0px 10px;
    }

    .navbar__content, .navbar__content-search {
        display: none;
    }

    .containers__title-small {
        display: none;
    }

    .class__support {
        width: 100%;
    }

    .containers__image-content {
        width: 360px;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
        margin: 10px 0px 0px 0px;
        height: 450px;
    }

    .containers__title-small-one {
        flex-direction: column;
        height: 610px;
        margin: 10px 0px 0px 0px;
        width: 100%;
    }

    .title-small-one,.title-small-two,.title-small-three {
        width: 360px;
        margin: 10px 0px 0px 0px;
        padding: 0px 15px;
    }

    .containers__theme {
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 0px 15px;
        margin: 10px 0px 0px 0px;
        border-bottom: 0.01rem solid #fff;
    }

    .containers__theme__title-small {
        margin: 0px 0px; 
    }

    .containers__theme__content-one {
        margin: 0px 0px;
        padding: 5px 0px;
    }

    .containers__image {
        width: 360px;
        height: 216px;
        padding: 0px 15px;
        margin: 0px 0px;
    }

    .container__image--ten {
        width: 330px;
        height: 198px;
        padding: 10px 0px 0px 0px;
    }

    .containers__content {
        width: 360px;
        height: 216px;
        margin: 10px 0px 0px 0px;
        padding: 0px 15px;
    }

    .container__image-advertisement,.containers__small-folder,.content__image__advertisement,.content__between__content-small,.content__between__content-small-one,.link__share__icon {
        display: none;
    }

    .containers___content__between {
        margin: 0px 0px;
        height: auto;
        width: 100%;
    }

    .content__between-big {
        width: 100%;
        border-right: 1px solid #fff;
        margin-top: 20px;
        width: 100%;
    }

    .content__between-one,
    .content__between-two,
    .content__between-three {
        flex-direction: column;
        width: 100%;
    }

    .content__betweeen-small-one,.content__betweeen-small-two,.content__betweeen-small-three {
        width: 360px;
        padding: 0px 15px;
        margin: 15px 0px 0px 0px;
    }

    .content__between-image-one, .content__between-image-two, .content__between-image-three {
        width: 360px;
        padding: 0px 15px;
    }

    .image__support {
        width: 330px;
        height: 198px;
    }

    .containers__content-expanded {
        height: auto;
        width: 100%;
    }

    .image__of__content-expanded {
        flex-direction: column;
        height: auto;
        width: 360px;
        background-color: #fff;
    }

    .image-expanded {
        width: 330px;
        height: 198px;
    }

    .content__between-image-four {
        padding: 0px 15px;
    }

    .content-expanded {
        width: 100%;
        margin: 0px 0px;
        padding: 0px 15px;
    }

    .conten-expanded-title {
        margin-left: 15px;
        width: 345px;
    }

    .content-expanded-one {
        color: #333;
    }

    .content__of-expanded-one {
        color: #333;
        margin: 20px 0px 0px 0px;
    }

    .color__title {
        color: #333;
    }

    .containers-three__pagination {
        margin: 10px 0px 0px 0px ;
        width: 100%;
    }

    .pagination-item {
        margin: 0 6px;
    }
    
    .paginnation-item__link,.paginnation-item__link--support {
        --height: 25px;
        display: block;
        text-decoration: none;
        font: 14px Arial;
        color: #757575;
        min-width: 30px;
        height: var(--height);
        line-height: var(--height);
        text-align: center;
        border-radius: 2px;
    }

    /* Responsive Footer */

    .footer {
        display: block;
        padding: 0px 10px;
        width: 100%;
        margin: 10px 0px 0px 0px;
    }

    .footer__menu-one {
        width: 100%;
        margin: 0px 0px;
        padding: 5px 0px;
    }
    .footer__menu-content--one {
        width: 100%;
        padding: 0px 20px;
    }

    .footer__menu-content {
        display: none;
    }

    .footer__menu-two {
        width: 100%;
        padding: 0px 0px;
    }

    .menu-content-two {
        margin: 20px 0px 0px 7px;
    }

    .footer__menu-three {
        width: 100%;
        flex-direction: column;
        padding: 0px 0px;
    }

    .menu__list-one {
        width: 100%;
        padding: 0px 0px 0px 0px
    }

    .menu__list-two {
        width: 100%;
        padding: 10px 0px 0px 0px;
    }

    .menu__list-three {
        width: 100%;
        padding-top: 20px;
    }
}


/* IphoneX*/
@media only screen and (min-width: 375px) and (max-width: 760px) {
    /* Responsive header */
    
    html {
        width: 100%;
    }
    body {
        width: 100%;
    }
    .header {
        width: 100%;
        position: fixed;
    }

    .header__top {
        width: 100%;
        position: fixed;
    }
    .header__navbar-one {
        width: 100%;
        position: fixed;
    }

    .hidden__card {
        display: block;
        padding: 7px 0px;
        font-size: 1.1rem;
    }

    .navbar-item-small,.item__icon-clock,.item__icon-search,.navbar-item-login {
        display: none;
    }

    .header__navbar-one {
        margin: 0px 0px;
    }

    .right {
        margin: 0px 0px;
        width: 100%;
    }

    .item__icon-login {
        margin: 9px 0px;
    }

    .navbar__logo {
        padding: 0px 110px;
    }

    .header__navbar-two {
        display: none;
    }

    /* Reponsive Containers */

    .containers {
        flex-direction: column;
        width: 100%;
    }

    .containers__big {
        margin: 6.6% 0px 0px 0px;
        padding: 0px 0px;
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .containers__title__big {
        width: 100%;
        margin: 30px 0px 0px 0px;
    }

    .content__title {
        width: 100%;
        margin: 0px 0px;
        padding: 0px 0px 0px 10px;
    }

    .navbar__content, .navbar__content-search {
        display: none;
    }

    .containers__title-small {
        display: none;
    }

    .class__support {
        width: 100%;
    }

    .containers__image-content {
        width: 375px;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
        margin: 10px 0px 0px 0px;
        height: 450px;
    }

    .containers__title-small-one {
        flex-direction: column;
        height: 710px;
        margin: 10px 0px 0px 0px;
        width: 100%;
    }

    .title-small-one,.title-small-two,.title-small-three {
        width: 360px;
        margin: 10px 0px 0px 0px;
        padding: 0px 20px;
    }

    .containers__theme {
        width: 100%;
        flex-direction: column;
        height: auto;
        padding: 0px 20px;
        margin: 10px 0px 0px 0px;
        border-bottom: 0.01rem solid #fff;
    }

    .containers__theme__title-small {
        margin: 0px 0px; 
    }

    .containers__theme__content-one {
        margin: 0px 0px;
        padding: 5px 0px;
    }

    .containers__image {
        width: 360px;
        height: 216px;
        padding: 0px 20px;
        margin: 0px 0px;
    }

    .container__image--ten {
        width: 330px;
        height: 198px;
        padding: 10px 0px 0px 0px;
    }

    .containers__content {
        width: 360px;
        height: 216px;
        margin: 10px 0px 0px 0px;
        padding: 0px 20px;
    }

    .container__image-advertisement,.containers__small-folder,.content__image__advertisement,.content__between__content-small,.content__between__content-small-one,.link__share__icon {
        display: none;
    }

    .containers___content__between {
        margin: 0px 0px;
        height: auto;
        width: 100%;
    }

    .content__between-big {
        width: 100%;
        border-right: 1px solid #fff;
        margin-top: 20px;
        width: 100%;
    }

    .content__between-one,
    .content__between-two,
    .content__between-three {
        flex-direction: column;
        width: 100%;
    }

    .content__betweeen-small-one,.content__betweeen-small-two,.content__betweeen-small-three {
        width: 360px;
        padding: 0px 20px;
        margin: 15px 0px 0px 0px;
    }

    .content__between-image-one, .content__between-image-two, .content__between-image-three {
        width: 360px;
        padding: 0px 20px;
    }

    .image__support {
        width: 330px;
        height: 198px;
    }

    .containers__content-expanded {
        height: auto;
        width: 100%;
    }

    .image__of__content-expanded {
        flex-direction: column;
        height: auto;
        width: 360px;
        background-color: #fff;
    }

    .image-expanded {
        width: 330px;
        height: 198px;
    }

    .content__between-image-four {
        padding: 0px 20px;
    }

    .content-expanded {
        width: 100%;
        margin: 0px 0px;
        padding: 0px 20px;
    }

    .conten-expanded-title {
        margin-left: 15px;
        width: 345px;
    }

    .content-expanded-one {
        color: #333;
    }

    .content__of-expanded-one {
        color: #333;
        margin: 20px 0px 0px 0px;
    }

    .color__title {
        color: #333;
    }

    .containers-three__pagination {
        margin: 10px 0px 0px 0px ;
        width: 100%;
    }

    .pagination-item {
        margin: 0 6px;
    }
    
    .paginnation-item__link,.paginnation-item__link--support {
        --height: 25px;
        display: block;
        text-decoration: none;
        font: 14px Arial;
        color: #757575;
        min-width: 30px;
        height: var(--height);
        line-height: var(--height);
        text-align: center;
        border-radius: 2px;
    }

    /* Responsive Footer */

    .footer {
        display: block;
        padding: 0px 20px;
        width: 100%;
        margin: 10px 0px 0px 0px;
    }

    .footer__menu-one {
        width: 100%;
        margin: 0px 0px;
        padding: 5px 0px;
    }
    .footer__menu-content--one {
        width: 100%;
        padding: 0px 20px;
    }

    .footer__menu-content {
        display: none;
    }

    .footer__menu-two {
        width: 100%;
        padding: 0px 0px;
    }

    .menu-content-two {
        margin: 20px 0px 0px 7px;
    }

    .footer__menu-three {
        width: 100%;
        flex-direction: column;
        padding: 0px 0px;
    }

    .menu__list-one {
        width: 100%;
        padding: 0px 0px 0px 0px
    }

    .menu__list-two {
        width: 100%;
        padding: 10px 0px 0px 0px;
    }

    .menu__list-three {
        width: 100%;
        padding-top: 20px;
    }
}