
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
}

.form {
    margin: auto;
    width: 768px;
    height: 480px;
    background-color: #fff;
}

.form__title {
    height: 57px;
    font-family: Arial;
    font-size: 1.1rem;
    font-weight: 650;
    margin-top: px;
    border-bottom: 0.1rem solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    
}

.title__content-one {
    color: #9f224e;
    text-decoration: none;
    margin-left: 171px;
    margin-right: 190px;
    margin-top: 20px;
}

.title__content-two {
    color: #757575;
    text-decoration: none;
    margin-top: 20px;
}

.click__here,
.click__out {
    width: 45px;
    height: 30px;
    top: 0;
    color: #333;
    border: 0rem solid #fff;
}

.click__out:hover {
    background-color: rgb(238, 61, 61);
    color: #fff;
}

.form__input-email {
    font-family: Arial;
    display: flex;
}

.email__content {
    margin-top: 33px;
    margin-left: 100px;
    margin-bottom: 33px;
}

.apps__content {
    margin-top: 33px;
    margin-left: 110px;
    margin-bottom: 55px;
}

.fontsize__email,
.fontsize__password {
    width: 355px;
    height: 47px;
}

.bar__login {
    background-color: #d7d7db;;
    width: 355px;
    height: 47px;
    margin-top: 10px;
    border-radius: 3px;
    border: 0.1rem;
    cursor: pointer;
}


.fontsize__email {
    margin-top: 5px;
    margin-bottom: 10px;
}

.fontsize__password {
    margin-top: 5px;
    margin-bottom: 5px;
}

.input__email {
    width: 417px;
    margin-left: 40px;
    border-right: 0.1rem solid #e6e6e6;
}

.input__other-apps {
    width: 350px;
}

.email__reset-pass {
    margin-left: 120px;
    margin-top: 33px
}

.email__reset {
    color: #333;
    text-decoration: none;
}

.apps__list {
    width: 242px;
    height: 47px;
    background-color: #fff;
    margin-left: 40px;
    cursor: pointer;
}

.app-facebook {
    border: 0.01rem solid #076db6;
    border-radius: 3px;
    margin-bottom: 30px;
}

.app-google {
    border: 0.01rem solid #087cce;
    border-radius: 3px;
    margin-bottom: 30px;
}

.app-apple {
    border: 0.01rem solid #333;
    border-radius: 3px;
}

.input-log__facebook {
    text-decoration: none;
}
.input-log__google {
    text-decoration: none;
}
.input-log__apple {
    text-decoration: none;
}

.log__facebook-samll,
.log__google-samll,
.log__apple-small {
    display: flex;
}

.image__facebook,
.image__google,
.image__apple {
    margin-left: 18px;
}

.image__facebook {
    font-size: 0.9rem;
    margin-right: 50px;
}

.image__google {
    font-size: 0.9rem;
    margin-right: 50px;
}

.image__apple {
    font-size: 0.9rem;
    margin-right: 60px;
}

.content__facebook {
    color: #076db6;
    font-family: Arial;
    font-weight: 600;
    font-size: 0.95rem;
    margin-top: 4px;
}

.content__google {
    font-family: Arial;
    font-weight: 600;
    color: #087cce;
    font-size: 0.95rem;
    margin-top: 4px;
}

.content__appple {
    font-family: Arial;
    font-weight: 600;
    color: #333;
    font-size: 0.95rem;
    margin-top: 4px;
}

